.forgot-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	width: 100vw;
	height: 100vh;
	overflow: auto;
    align-items: center;
}

.forgot-page .left-sec .top-section {
	display: flex;
	justify-content: flex-end;
}

.forgot-page .right-sec {
	background-color: var(--color-primary);
	height: 100%;
	width: 100%;
}

.forgot-page .right-sec {
	display: flex;
	justify-content: center;
	align-items: center;
}

.forgot-banner-img {
	width: auto;
	height: 70vh;
}

.forgot-page .left-sec {
	padding: 32px;
}

.forgot-page .left-sec img {
	width: auto;
	height: 56px;
}

.forgot-page .left-sec h1 {
	text-align: center;
}
.forgot-page .left-sec p {
	text-align: center;
	margin-top: -16px;
	margin-bottom: 32px;
}

.forgot-page .left-sec button:hover {
	background-color: var(--color-primary) !important;
	transform: scale(1.02);
}

.forgot-submit-btn {
	width: 100%;
	margin-top: 0px;
	background-color: var(--color-primary);
	border-radius: 5px;
	height: 48px;
	font-size: 18px;
}

.forgot-page .ant-input {
	background-color: #f0f2f3;
	height: 48px;
}
.forgot-page .ant-input-password {
	background-color: #f0f2f3;
	height: 48px;
}
.forgot-page .ant-input-password .ant-input {
	background-color: #f0f2f3;
	height: 100%;
}

.forgot-page .form {
	margin-top: 24px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.forgot-page .ant-select-selector {
	border: 1px solid #d9d9d9;
	height: 48px !important;
	background: #eee !important;
}

.forgot-page .ant-select.ant-select-in-form-item {
	display: flex;
	align-items: center;
	margin-top: 8px;
}

@media (max-width: 768px) {
	.forgot-page {
		margin-top: 0px;
		padding: 0px;
		grid-template-columns: 1fr;
        gap: 0;
	}
	.forgot-page .left-sec .top-section {
		justify-content: center;
		display: flex;
	}
	.forgot-page .left-sec img {
		margin-top: 24px;
	}
	.forgot-page .left-sec h1 {
		margin-top: 0px;
		font-size: 20px;
	}
	.forgot-banner-img {
		width: 60vw;
		height: auto;
	}
	.forgot-page .left-sec p {
		margin-bottom: 40px;
		font-size: 12px;
	}
	.forgot-page .left-sec {
		padding: 8px;
		padding-bottom: 32px;
	}
	.forgot-page .left-sec .top-section {
		justify-content: center;
	}

    .forgot-page .hide-mobile{
        display: none;
    }
}
