#google-reviews {
	display: flex;
	flex-wrap: wrap;
	display: grid;
	gap: 24px;
	margin-block: 32px;
	margin-bottom: 60px;
}

.google-reviews2 {
	display: flex;
	align-items: center;
	position: relative;
	gap: 10px;
	margin-bottom: 60px;
	margin-block-start: 32px;
}

.reviews-container {
	display: grid;
	gap: 25px;
	overflow: hidden;
	justify-content: center;
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
}

.review-card {
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 8px;
	background: #ffffff;
	padding: 24px;
}

.review-card .profile {
	margin-top: 10px;
	margin-bottom: 10px;
}

.review-card .profile img {
	height: 60px;
	width: 60px;
}

.review-card .review-header {
	text-transform: capitalize;
	font-size: 115%;
}

.review-card .review-description {
	text-align: center;
	font-size: 15px;
}

.scroll-button {
	background-color: #f24c88;
	color: white;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	font-size: 20px;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-button.left {
	position: absolute;
	left: 0;
	padding-right: 10px;
	padding-bottom: 4px;
}

.scroll-button.right {
	position: absolute;
	right: 0;
	padding-left: 10px;
	padding-bottom: 4px;
}

.review-meta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.review-meta img {
	height: 60px;
	width: 60px;
}

.review-item-long {
	border: solid 1px rgba(190, 190, 190, 0.35);
	margin: 0 auto;
	border-radius: 10px;
	padding: 1em;
	flex: 1 1 90%;
}

.review-meta,
.review-stars {
	text-align: center;
	font-size: 115%;
	margin-block: 8px;
}

.review-author {
	text-transform: capitalize;
	font-weight: bold;
}

.review-date {
	opacity: 0.6;
	display: block;
}

.review-text {
	line-height: 1.55;
	text-align: left;
	max-width: 32em;
	margin: auto;
}

.review-stars ul {
	display: inline-block;
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.review-stars ul li {
	float: left;
	list-style: none !important;
	margin-right: 1px;
	line-height: 1;
}

.review-stars ul li i {
	color: #eb6e00;
	font-size: 1.4em;
	font-style: normal;
}

.review-stars ul li i.inactive {
	color: #c6c6c6;
}

.star:after {
	content: "\2605";
}
