.footer-container {
	width: 80%;
	border-top: 1.5px solid #f24c88;
	padding-top: 40px;
	margin: 40px auto;
	display: flex;

	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	a {
		color: black;
	}
}
.footer_back {
	width: 100%;
	background-color: white;
}
.footer-container .row1 {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	gap: 32px;
	justify-content: flex-start;
	width: 100%;
	margin: 4px auto;
	.col1 {
		text-align: center;
		width: 100%;
	}
}
.footer-container .logo-text-container {
	display: flex;

	align-items: center;

	margin: 3px;
}
.footer-container .logo-text-container .footerimg {
	padding-right: 10px;
}

.footer-container .footer-social-icons {
	width: 10rem;
	display: flex;
	margin-top: 10px;
	justify-content: space-around;
}
.footer-container .inputbut-container {
	width: 14rem;
	display: flex;
	justify-content: space-between;
}
.footer-container .row2 {
	width: 85%;
	margin-top: 10px;
	display: flex;
	flex-direction: row;

	background-color: #f2f2f2;
	padding-inline: 32px;
}
.footer-container .row2 .inputbut-container {
	width: 100%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer-container .row2 input {
	width: 90%;
	padding: 10px;
	font-size: 14px;
	border-radius: 4px;
	background-color: #ffffff;
	-webkit-text-fill-color: #f24c88;
	text-indent: 20px;
	border: none;
	margin: 0;
}

.footer-container .row2 .col1 {
	width: 100%;
	display: flex;
	height: 100px;
}
.footer-container .row2 button {
	padding: 8px 16px;
	background-color: #f24c88;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 14px;
	cursor: pointer;
	margin: 0px;
	margin-left: 8px;
}
.footer-container .row2 h4 {
	width: 30%;
	font-size: 1.4;
	color: #f24c88;
	padding: 20px;
}
.footer-container .row3 {
	margin-top: 10px;
}
.footer-container .row3 span {
	color: #f24c88;
}

.footer-container .row1 .logo-image {
	height: 40px;
	margin-bottom: 16px;
}

@media (max-width: 768px) {
	.footer-container .row1 {
		display: grid;
		grid-template-columns: 4fr 1fr;
	}
	.footer-container .row2 {
		width: 90%;
	}
}

@media (max-width: 520px) {
	.footer-container {
		width: 90%;
	}
	.footer-container .row1 {
		display: grid;
		grid-template-columns: 1fr;
	}
	.footer-container .row2 {
		width: 100%;
		padding-inline: 4px;
	}
}
