.combinationContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	box-sizing: border-box;
}

.combination-cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
	gap: 20px;
	width: 100%;
	max-width: 1200px;
	margin: 24px auto;
}

.combination-card {
	border-radius: 8px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	transition: transform 0.3s, box-shadow 0.3s;
	cursor: pointer;
}

.combination-card-image {
	width: 100%;
	height: 360px;
	object-fit: cover;
	object-position: top;
}

.combination-card-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 360px;
	background: #eaeaea;
	font-size: 1rem;
	color: #888;
	text-align: center;
}

.combination-card-details {
	padding: 16px 8px;
	/* text-align: center; */
}

.combination-card-title {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	color: #000;
	text-decoration: none;
	text-transform: capitalize;
}

.combination-card-title a {
	color: inherit;
	text-decoration: none;
}

.combination-card-title a:hover {
	color: var(--color-primary);
}

@media (max-width: 768px) {
	.combination-cards-container {
		grid-template-columns: 1fr;
	}
}
