.heading_with_leaf {
	display: flex;
	margin: 0px auto;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.heading_with_leaf h1 {
	color: #000;
	z-index: 1;
}
.heading_with_leaf img {
	width: 80px;
	margin-left: -60px;
	margin-bottom: -15px;
	z-index: 0;
}
.heading_container {
	margin: 0px auto;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 767px) {
	.heading_container {
		width: 100%;
	}
	.heading_with_leaf h1 {
		font-size: 20px;
	}
}
