.section3-container {
	width: 100vw;
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	justify-content: center;
	background-color: white;
	.TrendySectionimg {
		width: 80vw;
	}
}

@media (max-width: 767px) {
	.section3-container {
		padding-top: 24px;
		padding-bottom: 24px;
		justify-content: center;
		background-color: white;
		.TrendySectionimg {
			width: 90vw;
		}
	}
}
