.admin-combo-cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	/* justify-content: center; */
	position: relative;
	margin-bottom: 20px;
}

.admin-combo-card {
	width: 240px;
	border-radius: 8px;
	height: 320px;
	overflow: hidden;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	position: relative;
	background-color: #fff;
	transition: transform 0.3s ease-in-out;
}

.admin-combo-card:hover {
	cursor: pointer;
}

.admin-combo-card-image {
	height: 270px;
	width: 100%;
	object-fit: cover;
	border-bottom: 1px solid #eaeaea;
}

.admin-combo-card-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 270px;
	background: #f4f4f4;
	color: #aaa;
	font-size: 16px;
	text-align: center;
}

.admin-combo-card-details {
	padding: 0px 16px;
}

.admin-combo-card-title {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.admin-combo-container .add-btn-cont {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 12px;
}

.admin-combo-container .ant-btn-primary {
	margin-top: 30px;
	background-color: var(--color-primary);
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.admin-combo-container button:hover {
	background-color: var(--color-primary) !important;
}

.admin-combo-container .ant-modal {
	border-radius: 10px;
}

@media (max-width: 768px) {
	.admin-combo-container {
		padding: 10px;
	}

	.admin-combo-cards-container {
		justify-content: center;
	}
}
